<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site de recettes">
    <meta name="keywords" content="Recettes en ligne">
    <meta name="author" content="Marvin, Antoine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/root.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="../controllers/js/search-navbar.js" defer></script>
    <title>Calendrier des Recettes</title>
    <title>Favoris</title>
    <link rel="stylesheet" href="../public/css/modal.css">
    <link rel="stylesheet" href="../public/css/recettes.css">
    <script src="../controllers/js/template.js" defer></script>
    <script src="../controllers/js/listecourse.js" defer></script>
    <script src="../controllers/js/favoris.js" defer></script>
</head>
<body>
    <header>
        <div id="header"></div>
    </header>
    <main>
        <h1 class="text-center p-6">Mes Recettes Favorites</h1>
        <section id="favoritesSection" class="bigsection">
            <!-- Les recettes favorites seront affichées ici -->
        </section>
    </main>
    <footer>
        <div id="footer"></div>
    </footer>
</body>
</html>