.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

:root {
    --title-font: "Shrikhand";
    --main-font: "Poppins";

    --bg-main: #E41B25;
    --bg-main-hover: #E07B80;
    --bg-sec: #F8EED5;
    --bg-dark: #423629;
}

/* COULEURS */

.bg-main {
    background-color: var(--bg-main);
}
.color-main {
    color: var(--bg-main);
}

.bg-main-hover:hover {
    background-color: var(--bg-main-hover) !important;
}
.color-main-hover:hover {
    color: var(--bg-main-hover) !important;
}

.bg-sec {
    background-color: var(--bg-sec);
}
.color-sec {
    color: var(--bg-sec);
}
.text-color-sec {
    color: var(--bg-sec);
}
.text-hover-sec:hover {
    color: var(--bg-sec) !important;
  }

.bg-dark {
    background-color: var(--bg-dark);
}
.color-dark {
    color: var(--bg-dark);
}

/* POLICES */


h1 {
    font-family: var(--title-font);
    color: var(--bg-dark);
    font-size:xx-large ;
}

body {
    height: 100vh;
    font-family: var(--main-font);
    header {
        letter-spacing: 1px;
        #headerLinks{
            #headerLeftLink {
                color: var(--bg-sec);
            }
        }
        #headerLeftLink:hover {
            color: white;
            background-color: var(--bg-main-hover);
        }
        a {
            i {
                font-size: 24px;
            }
        }
        #navbarParent {
            #suggestions-navbar {
                width: 218px;
                z-index: 49;
                position: fixed;
                margin-top: 30px;
                background-color: var(--bg-sec);
                display: flex;
                flex-direction: column;
                align-items: center;
                .suggestion-item {
                    width: 80%;
                    padding: 10px 0;
                    border-bottom: 1px solid rgb(139, 139, 139);
                }
                .suggestion-item:hover {
                    cursor: pointer;
                }
            }
            .suggestions-active {
                border-left: 1px solid var(--bg-main);
                border-bottom: 1px solid var(--bg-main);
                border-right: 1px solid var(--bg-main);
            }
        }
    }
    #medium-modal {
        background-color: rgba(128, 128, 128, 0.35);
        #modal-header {
            color: white;
            font-family: var(--title-font);
            button:hover {
                background-color: var(--bg-main-hover);
                color: white;
            }
        }
        #modal-body {
            box-shadow: inset 5px 0 var(--bg-main), inset -5px 0 var(--bg-main);
            ol {
                list-style: none;
            }
        }
        #modal-footer {
            background-color: var(--bg-main);
            button {
                background-color: var(--bg-main);
            }
            button:hover {
                background-color: var(--bg-main-hover);
                color: white;
            }
        }
    }
    main {  
        background-color: var(--bg-sec);
    }
    footer {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        #headerLinks {
            display: none;
        }
    }
    
}